 <form action="http://localhost:3000/tasks" method="POST">
                  <input type="text" name="tasks" placeholder="Enter tasks" required>
                  <input type="number" name="status" placeholder="Enter statusId" required>
                    <input type="submit" value="Apply" />
 </form>